/** Main CSS */

header {
    background-color: #2C3E50;
}
#presentation {
    background-color: #3BBC9C;
}
.img-container {
    height: 300px;
    width: 300px;
}
.horizontal-rule {
    width: 100px;
    height: 1px;
    border-bottom: 5px solid white;
    margin: 0 10px;
    border-radius: 5px;
}
.horizontal-rule-black {
    width: 100px;
    height: 1px;
    border-bottom: 5px solid black;
    margin: 0 10px;
    border-radius: 5px;
}
#about {
    background-color: #3BBC9C;
}
#contact textarea {
    width: 100%;
    height: 200px;
}
#contact .form-control {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid darkgrey;
}
#contact ::placeholder {
    color: black;
}
#contact .form-control:focus {
    box-shadow: none;
    border-color: darkgrey;
}
form > button {
    border-color: #3BBC9C !important;
    background-color: #3BBC9C !important;
}
footer {
    background-color: #3A546D;
}
.brands{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.brands i {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 50%;
    border-color: white;
    height: 3.5rem;
    width: 3.5rem;
}
.text-acqua-green {
    color: #3BBC9C;
}
#copyright {
    background-color: #2C3E50;
}
