/** Main CSS */

header {
    background-color: #2C3E50;
}
#presentation {
    background-color: #3BBC9C;
}
.horizontal-rule {
    width: 100px;
    height: 1px;
    border-bottom: 5px solid white;
    margin: 0 10px;
    border-radius: 5px;
}
.horizontal-rule-black {
    width: 100px;
    height: 1px;
    border-bottom: 5px solid black;
    margin: 0 10px;
    border-radius: 5px;
}
#about {
    background-color: #3BBC9C;
}
#contact textarea {
    width: 100%;
    height: 200px;
}
#contact .form-control {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid darkgrey;
}
#contact ::placeholder {
    color: black;
}
#contact .form-control:focus {
    box-shadow: none;
    border-color: darkgrey;
}
footer {
    background-color: #3A546D;
}
#copyright {
    background-color: #2C3E50;
}
